/* License: GPLv3 */

body {
    background-color: #dadada;
}

.content-wrapper {
    margin: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

.header {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #6da741;
    padding: 0px;
    overflow: hidden;
}

.navi {
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: #7fc157;
    font-size: 18px;
    color: #183f50;
    overflow: auto;
}

.logo {
    margin: 5px;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #ffffff;
}

.navi li {
    list-style: none;
}

.navi li:hover {
    background-color: #6f9840;
}

@media only screen and (min-width: 701px) {
    .navi li {
        float: left;
        padding: 10px;
    }

    .menubutton {
        display: none;
    }

    .navi li {
        border-right: black thin solid;
    }

    .navi li:last-of-type {
        border-right: inherit;
    }
}

@media only screen and (max-width: 700px) {
    .logo {
        font-size:10px;
        max-width: 700px;
        float: inherit;
    }

    .navi {
        top: 0px;
        left: 0px;
        height: 0px;
        overflow: hidden;
        transition: 1s height;
        margin: 0;
    }

    .openednavi {
        height: inherit;
    }

    .navi li {
        border-bottom: black thin solid;
        text-align: center;
    }

    .navi li:last-of-type {
        border-bottom: inherit;
    }

    .menubutton {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}
@media only screen and (max-width: 590px) {
    .logo { font-size: 9px; }
}
@media only screen and (max-width: 490px) {
    .logo { font-size: 7px; }
}
@media only screen and (max-width: 390px) {
    .logo { font-size: 5px; }
}
@media only screen and (max-width: 295px) {
    .logo { font-size: 3px; }
}
